.card {
  background-color: #cca3a2; 
}

.card-body {
  background-color: white;
}

.jumbotron {
  background-color: white;
}

body {
  background-image: url("/Users/chehlsee/Desktop/bootcamp-homeworks/trainGame/images/storyblocks-abstract-squares-geometric-pattern-gray-color-on-white-background-vector-illustration_S_iNrpahG_thumb.jpg");
}